body{
  font-family: 'Fredoka One', cursive;
}
.nav{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7423de;
}
.nav ul{
  display: flex;
  margin-right: 2rem;
  list-style-type: none;
}
.nav a {
  display: block;
  font-size: 2em;
  padding: 0.5em;
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.60);
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #e6d047;
/*   background-color: #000; */
/*   background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}
h1 {
  font-size: 3rem;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.45);
}
#welcome-section p{
  margin-top: -1.5%;
  font-size: 2.2rem;
  font-weight: 900;
  font-family: monospace;
  font-style: italic;
}
#projects{
  text-align: center;
  padding: 4rem 2rem;
  background: hsla(231, 60%, 59%, 0.53);
}
.projects-section-header {
  margin-bottom: 2%;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1.5fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 3000px;
  margin: 5% auto;
  margin-bottom: 3rem;
}
.project {
  background: #7423de;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  height: 30rem;
}
.project-img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: fill;
}
.project-title{
  color: white;
  font-weight: normal;
}
.project-title:hover{
  color: yellow;
  font-weight: normal;
}
.project:hover{
    background: black;
  }
a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
#profile-link {
  background: #7423de;
  padding: 0.7%;
  text-align: center;
  margin-right: 45%;
  margin-left: 45%;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
#profile-link{
  color: yellow;
  font-weight: normal;
}
#profile-link:hover {
    background: black;
}
#contact {
  text-align: center;
  padding: 4rem 2rem;
  background: hsla(129, 69%, 38%, 0.53);
  color: black;
  font-weight: normal;
}
.profile-link{
  padding: 1.5%;
  font-weight: bold;
  font-size: 40px;
  color: black;
}
.profiles {
  margin-top: 5%;
  transition: transform 0.3s ease-out;
}
.profiles:hover {
  transform: translateY(-10px);
}
.profile-link:hover{
  text-shadow: 4px 4px rgba(255, 255, 255, 0.50);
}
